.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-wrapper {
  background: var(--base-white, #fff);
  width: 46%;
  height: 77%;
  box-shadow:
    0px 8px 8px -4px rgba(16, 24, 40, 0.04),
    0px 20px 24px -4px rgba(16, 24, 40, 0.1);
  border-radius: 10px;
  padding: 16px;
  z-index: 1001;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.MuiButtonBase-root-MuiButton-root {
  border-radius: 9.912px;
  background: #5f65f6;
  display: flex;
  height: 52.039px;
  padding: 7.434px 19.824px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.39px;

  align-self: stretch;
}
.modal-header {
  padding-bottom: 24px;
}
