@import '../../../assets//styles/global';
.register {
  margin-top: 8px;
  display: flex;
  padding: 30px;
  margin: 30px;
  justify-content: center;
  max-width: 1000px;
  background: $bg-primary;
  border-radius: 20px !important;

  &-intro {
    width: 50%;
    border-right: 1px solid $border-right;
    .register-title {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 10px;
      img {
        width: 280px;
        max-width: 100%;
        height: auto;
      }
    }

    .sing-up {
      font-size: 16px;
      color: $bg-primary;
      margin-right: 5px;
      margin-left: 5px;
      cursor: pointer;
    }
    .forgot-password {
      font-size: 12px;
      font-weight: bold;
      color: $secondary;
    }
    .register-desc {
      padding: 20px;
      .desc {
        font-size: 16px;
        color: $desc;
        margin-bottom: 30px;
      }
      .desc:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-form {
    width: 50%;
    padding: 30px;
    .form-group {
      margin-bottom: 12px;
    }
    .showPassword {
      margin-top: -20px;
      .MuiFormControlLabel-label {
        font-size: 15px;
      }
    }

    .sing-up {
      font-size: 12px;
      color: $secondary;
      text-align: center;
    }
  }
  &-text {
    text-align: center;
    width: 100%;
    padding: 0 50px;
    .register.MuiTypography-h5 {
      width: 100%;
      max-width: 330px;
      text-align: center;
      display: block;
      line-height: 1.5;
    }
    .registers.MuiTypography-h5 {
      text-align: center;
    }
  }
  @media screen and (max-width: 768px) {
    &-intro {
      width: 100%;
      border-right: none;
    }
    &-form {
      width: 100%;
    }
  }
  @media screen and (max-width: 425px) {
    flex-wrap: wrap;

    padding: 30px;
    &-intro {
      width: 100%;
      border-right: none;
      .register-title {
        padding: 0 20px;
        img {
          max-width: 150px;
        }
      }
    }
  }

  .modal-text.MuiTypography-body1 {
    font-size: 15px;
  }
}
