.MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 15px;
}
.MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}
.MuiFormLabel-root.Mui-focused {
  color: #eb5757 !important;
}

// .MuiOutlinedInput-root {
//   color: #eb5757;
// }
