$bg-via: #0b454f;
$bg-auth: #fcfcfd;
$bg-primary: #fff;
$secondary: #eb5757;
$start: red;
$orange-peel: #ff9f00;
$primary: rgba(0, 0, 0, 0.54);
$border-color: rgba(0, 0, 0, 0.87);
$border-right: #ebebeb;
$border-color-2: rgba(0, 0, 0, 0.23);
$seablue: #23b6d8;
$text: #00000d;
$text-2: #898989;
$desc: #4c4c4c;
