/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;
$bg-auth: #fcfcfd;
$ebony-clay: #2b3141;
$orange-peel: #ff9f00;
$wild-sand: #f5f4f4;
$cinder: #08070c;
$scorpion: #5f5e5e;
$silver: #c4c4c4;
$mercury: #e3e3e3;
$gray: #868686;
$alto: #d9d9d9;
$mine-shaft: #333333;
$iron: #d8d9db;
$concrete: #f2f2f2;
$boulder: #777777;
$flamingo: #ee4d2c;
$brown: #925b00;
$dusty-gray: #9b9595;
$pomegranate: #f5360f;
$green-haze: #01a358;
$amber: #ffc107;
$nobel: #b7b4b4;
$razzmatazz: #e20a62;
$alabaster: #f8f8f8;
$moon-raker: #d5dcf8;
$titan-white: #e9edff;
