@import './color';
@import './normalize';
@import './font';
@import './mixin';
html {
  font-size: 10px;

  @media (max-width: 1440px) {
    font-size: 9px;
  }

  @media (max-width: 1200px) {
    font-size: 8px;
  }

  @media (max-width: 991px) {
    font-size: 7px;
  }
}

* {
  scroll-behavior: smooth;
}

.container {
  padding: 0 1.6rem;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  &:hover {
    color: $orange-peel;
  }
}

.ant-form {
  .ant-form-item-explain {
    padding-top: 0.4rem;
    font-size: 1.6rem;
  }
}

.style-content {
  img {
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto 1.5rem;
  }

  p {
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 1.5rem;
  }

  a {
    font-size: 1.8rem;
    color: $orange-peel;
    text-decoration: underline;
  }
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  padding-right: 2rem;
}
