@import '../../../assets//styles/global';
.btn {
  width: 100%;
  padding: 13px !important;
  font-size: 14px !important;
  margin-bottom: 12px !important;
  &-login {
    margin-top: 20px !important;
    background: $seablue !important;
    &:hover {
      background: $seablue !important;
    }
  }
  &-google {
    background: $secondary !important;
    &:hover {
      background: $secondary !important;
    }
  }
  &-close {
    width: 20%;
    display: flex;
    justify-content: flex-start;
  }
}
